.seller_btns {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.seller_change,
.seller_delete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3f1f8;
  width: 330px;
  height: 400px;
  font-size: 45px;
  border: 1px solid black;
}

#class_create__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3f1f8;
  width: 330px;
  height: 400px;
  font-size: 45px;
  border: 1px solid black;
}